*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}
#track
{   margin: 100px auto;
    height: 300px;
    width: 360px;
    overflow-x: scroll;
 
    
}
#track::-webkit-scrollbar
{
    display: none;
}

.slides
{
    width: 3500px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.slide 
{
    margin-left: 50px;
    width: 360px;
    height: 100%;
}
.slide  img{
    width: 360px;
    height: 300px;
}